@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="welcome">
        <h2>Welcome to my events calendar!</h2>
        <p>This calendar is designed to store all of your events in one place. You can add, edit, and delete events, as well as receive notifications about upcoming events.</p>
        <p>To get started, simply click the "Add Event" button and add the name, date, and time of the event. You can also add a description of the event and configure notifications.</p>
        <p>I hope you find this calendar useful!</p>
    </section>

    <section class="features">
        <h2>Features</h2>
        <ul>
            <li>Add, edit, and delete events</li>
            <li>Notifications about upcoming events</li>
        </ul>
    </section>

    <section class="about">
        <h2>About the project</h2>
        <p>This project was created by me to help people organize their events. I hope it is useful to you!</p>
    </section>

</main>