body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

h1 {
    font-size: 24px;
    margin-top: 0;
}

p {
    margin-bottom: 10px;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

li {
    list-style-type: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: underline;
}